/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Inter:wght@300;500&family=Roboto:wght@300&display=swap");

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  /*background: linear-gradient(207.8deg, #201e1c 16.69%, #a1cee3 100%);*/
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container a {
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.6rem;
  color: black;
}

.header--title-container .header--container-buttons {
  width: 100%;
  height: auto;
  display: inline-block;
}

.header--container-buttons a {
  text-decoration: none;
}

.header--container-buttons .link {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  background-image: url(./icons/linkedin.svg);
}

.header--container-buttons .git {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  background-image: url(./icons/github2.svg);
}

.header--container-buttons .twi {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  background-image: url(./icons/twitter.svg);
}

.mainDescription {
  /*display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  min-width: 288px;*/

  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.mainDescription--img {
  width: 120px;
  max-width: 760%;
  min-width: 390;
  height: 120px;
}

.mainDescription--img img{
  width: 230%;
  border-radius: 40px;
}

.mainDescription .description--text {
  display: inline-block;
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  min-height: 160px;
  line-height: 120%;
}
/*
.header--container-buttons .link {
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url(./icons/linkedin.svg);
}*/
