*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container {
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
}
.box {
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: green;
}
.box3 {
    background-color: purple;
}
.box4 {
    background-color: gray;
}
.box5 {
    background-color: aqua;
}
.box6 {
    background-color: chocolate;
}