@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html{
  font-size: 62.5%;
}
body{
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

header{
  display: flex;
}

.barra{
    justify-content: flex-end;
}

.nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: black;
}

.container {
  /* border: 0.3rem solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box {
  width: 10rem;
  height: 10rem;
  border-radius: 12px;
}

.box1 {
  background-color: #33e0ff;
}
.box2 {
  background-color: #33e0ff;
}
.box3 {
  background-color: #33e0ff;
}
.box4 {
  background-color: #33e0ff;
}

footer {
  background-color: #daf7a6;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: black;
}
